<form action="/send_message" method="POST">
Phone Number:<br>
<input type="text" name="phone_number">
<br>
Message:<br>
<input type="text" name="message">
<br><br>
<input type="submit" value="Submit">
</form>